NEXT_PUBLIC_RPC_URL_MAINNET=
NEXT_PUBLIC_RPC_URL_SEPOLIA=
NEXT_PUBLIC_REGISTRAR_ADDRESS=
NEXT_PUBLIC_FORWARDER_ADDRESS=
NEXT_PUBLIC_ARTID_PARENT_NODE=
NEXT_PUBLIC_CHAIN_ID=1
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=43bdd1b8c477ac4d4a4264a14a8472f8

# Server-only — never NEXT_PUBLIC_
OPENSEA_API_KEY=
PINATA_JWT=
